<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="Competition"  type="com.midashnt.taekwondo.app.dto.Competition" />
        <typeAlias alias="Event"        type="com.midashnt.taekwondo.app.dto.Event" />
        <typeAlias alias="User"         type="com.midashnt.taekwondo.app.dto.User" />
        <typeAlias alias="WeightClass"  type="com.midashnt.taekwondo.app.dto.WeightClass" />
    </typeAliases>

</configuration>